
/* Schriftarten*/
h1{
  color: white;
  font-family: 'Aboreto', cursive;
  font-family: 'Roboto', sans-serif;}

p {
  color: white;
  font-family: 'Roboto', sans-serif;font-size: 15px;
  }

a {
  text-decoration: none;
  color: #214429;}

/* DIV BOXEN*/
/* gesamter Contentbereich */

.hilfsbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:690px;}

.hilfsbox2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  height:650px;}

.halbiert{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 690px;
  height: 650px;}

.content_box{
  width: 75%;
  height: 80%;
}

.abmeldungs_icon{
  width: 40px;
  height: 55px;
}

.abmeldungs_text{
  width: 100%;
  height: 14%;}


/* Drei Buttons fuer zurueck zum Login / Angebote durschsuchen / Newletter anmelden*/
.weiße_button{
  background-color: white;
  width: 100%;
  height: 14%;
  color: #214429;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;font-size: 25px;
  display: flex;
  align-items: center;}

.weiße_button:hover{
 background-color: #214429;
 color: white;
 padding-left: 8px;
 text-decoration: none;
 border: white 2px solid;}

/* Linie fuer optimische Trennung*/
.linie{
  background-color: white;
  width: 60%;
  height: 1px;}

/* Boder für Kontrolle*/
/*   border: black 2px solid;*/
