.autos {height:300px;width:24.5%;background-color: black; color:white;border-width: 2px; border-color: #2ECCFA; border-style: solid; float: left;}
.BMWX5 {background-image: url("BMW X5.jpg"); height:300px;width:24.5%; ; color:black;border-width: 2px; border-color: #2ECCFA; border-style: solid; float: left;}
